<header class="top__bar {{ navbg }}">
  <div class="top__bar-ctn">
    <a routerLink="/">
      <div class="logo__ctn">
        <p class="logo__txt top"><span class="orange">D</span>Leng</p>
        <p class="logo__txt bottom"><span class="pink">D</span>Leng</p>
      </div>
    </a>
    <div class="nav__ctn">
      <ul class="nav__list">
        <li class="nav__list-btn">
          <a routerLink="/movies" class="nav__link">
            <span class="text">Movies</span>
          </a>
        </li>
        <li class="nav__list-btn">
          <a routerLink="/favorites" class="nav__link">
            <span class="text">Favorites</span>
          </a>
        </li>
        <li class="nav__list-btn">
          <a routerLink="/contact" class="nav__link">
            <i class="fa-regular fa-circle-question" title="Help Center"></i>
          </a>
        </li>
        <li class="nav__list-btn">
          <a routerLink="/search" class="nav__link">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
