<main class="search__page">
  <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
    <label for="search">Search</label>
    <input type="text" placeholder="search..." formControlName="searchName" />
    <button>search</button>
  </form>

  <ul class="results" *ngIf="searchResult">
    <ng-container *ngIf="!loading">
      <div *ngFor="let item of searchResult; let index">
        <app-movie-card [data]="item"></app-movie-card>
      </div>
    </ng-container>
  </ul>
</main>
<app-menu-bar></app-menu-bar>
