<div class="movie__card">
  <a routerLink="/detail/{{ data.id }}">
    <img
      src="https://image.tmdb.org/t/p/original{{ data.poster_path }}"
      alt="{{ data.original_title }}"
      class="movie__card-img"
      loading="lazy"
    />
  </a>
  <div class="movie__desc">
    <div class="rating__ctn">
      <app-star-rating [data]="data.vote_average"></app-star-rating>
      <p class="rating__num">{{ data.vote_average }}</p>
    </div>
    <app-favorite-button [data]="data"></app-favorite-button>
  </div>
</div>
