.movie__card {
  width: 30vw;
  border-radius: 1.5vw;


  .movie__card-img {
    width: 30vw;
    height: 45vw;
    border-radius: 1.5vw;
    object-fit: cover;
    box-shadow: rgb(0, 0, 0) 0px 1px 2px 0px, rgb(0, 0, 0) 0px 2px 6px 2px;
  }

  .movie__desc {
    padding: 1vw;
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: space-between;

    .rating__ctn {
      display: flex;

      .rating__num {
        color: var(--txt-grey);
        font-family: arial;
        font-size: 4.2vw;
        width: 5.8vw;
        overflow: hidden;
      }
    }
  }
}

@media (min-width:768px) {
  .movie__card {
    width: 15vw;
    border-radius: 0.5vw;


    .movie__card-img {
      width: 15vw;
      height: 22.5vw;
      border-radius: 0.5vw;
      object-fit: cover;
      box-shadow: rgb(0, 0, 0) 0px 2px 3px 0px, rgb(0, 0, 0) 0px 4px 8px 4px;
    }

    .movie__desc {
      padding: 0.5vw;
      height: 3vw;
    }

    .movie__desc {
      .rating__ctn {
        .rating__num {
          font-size: 1.8vw;
          width: 2.45vw;
        }
      }
    }
  }


}