<!-- banner start -->
<div>
  <div *ngFor="let banner of bannerResult">
    <a routerLink="/detail/{{ banner.id }}">
      <img
        src="https://image.tmdb.org/t/p/original{{ banner.backdrop_path }}"
        alt=""
        width="250px"
      />
      <h2>{{ banner.original_title }}</h2>
      <p>{{ banner.overview }}</p>
    </a>
  </div>
  <ul>
    <li *ngFor="let trending of trendingResult">
      <a routerLink="/detail/{{ trending.id }}">
        <img
          src="https://image.tmdb.org/t/p/original{{ trending.backdrop_path }}"
          alt=""
          width="250px"
        />
        <h2>{{ trending.original_title }}</h2>
        <p>{{ trending.overview }}</p>
      </a>
    </li>
  </ul>
</div>
<!-- banner end -->
<app-menu-bar [location]="'home'"></app-menu-bar>
