<nav class="bottom__bar">
  <ul class="bottom__bar-btns">
    <li
      class="bottom__bar-btn {{ location === 'home' ? 'active-btn' : '' }}"
      data-id="home"
    >
      <a routerLink="/" class="button-container">
        <span class="icon"><i class="fas fa-home"></i></span>
      </a>
    </li>
    <li
      class="bottom__bar-btn {{ location === 'movies' ? 'active-btn' : '' }}"
      data-id="about"
    >
      <a routerLink="/movies" class="button-container">
        <span class="icon"><i class="fa-solid fa-clapperboard"></i></span>
      </a>
    </li>
    <li
      class="bottom__bar-btn {{ location === 'favorites' ? 'active-btn' : '' }}"
      data-id="portfolio"
    >
      <a routerLink="/favorites" class="button-container">
        <span class="icon"
          ><i class="fa-solid fa-heart fav__icon favColor"></i
        ></span>
      </a>
    </li>
  </ul>
</nav>
